body {
  color: #444;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px 0px;
  padding: 0px;
}

h2 {
  margin: 20px 0px 20px 0px;
  padding: 0px;
  font-size: 26px;
  font-weight: 500;
}

h3 {
  margin: 0px;
  /* padding: 5px; */
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  width: fit-content;
  color:rgb(44, 80, 186);
  letter-spacing: -0.03em;
}

h4 {
  color: #000;
  margin: 20px 0px 20px 0px;
  padding: 0px;
  font-size: 21px;
  font-weight: 400;
}

.banner {
  height: 400px;
  width: auto;
  background-color: #ccc;
}

.banner img {
  width: 100%;
  height: 100%;
  background-position: center center;
  object-fit: none;
  background-repeat: no-repeat;
}

.container {
  margin-top: 65px;
  width: 1136px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.fa-solid {
  position: relative;
  left: 30px;
  color: #444;
}

.footer {
  background-color: #666;
  color: #EEE;
  font-size: 10px;
  padding: 20px;
}

#footer-container {
  width: 1136px;
  margin-left: auto;
  margin-right: auto;
}

/* .game-console-box {
  padding-left: 10px;
  margin: 5px;
} */

.header {
  width: 1136px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button > div > a {
  text-decoration: none;
  color: rgb(44, 80, 186);
  margin: 0 20px;
}

.title > a {
  text-decoration: none;
  font-style: oblique;
  color: rgb(44, 80, 186);
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: 20px;
}

.title > a:hover {
  color: rgb(44, 80, 186);
  text-decoration: none;
  cursor: pointer;
}

.header-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  border-bottom: solid 1px #ccc;
  background-color: #fff;
  padding: 10px 0px;
}

.login-button {
  width: 110px;
  margin: 0px 10px;
  text-align: center;
}

.lowest {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  font-weight: 400;
  font-size: 10px;
}

.navigation {
  min-width: 220px;
  padding-top: 10px;
  margin-right: 20px;
}

.navigation > div {
  font-weight: 300;
  margin-bottom: 30px;
}

.navigation > div > form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-bar {
  margin-bottom: 10px;
}

.product-box {
  border: solid 1px #ccc;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 250px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
  font-weight: 600;
  color: #000;
}

.product-box:hover {
  background-color: rgb(44, 80, 186);
  color: #FFF;
}

.product-box:hover h3 {
  /* background-color: rgb(70, 85, 132); */
  color: #FFF;
}

.product-box:hover img {
  mix-blend-mode:multiply;
}

.product-container {
  display: flex;
  min-height: 1000px;
}

.product-column {
  padding: 20px 0px 20px 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-photo {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.product-photo img {
  max-width: 100%;
  max-height: 100%;
}

.search-bar {
  width: 600px;
  height: 40px;
  border: solid 1px #ccc;
  background-color: #efefef;
  border-radius: 5px;
  font-size: large;
  padding-left: 40px;
}

#sign-up {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  /* width: 60px; */
  background-color: rgb(44, 80, 186);
  color: #fff;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}

#sign-out {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  /* width: 60px; */
  background-color: rgb(70, 85, 132);
  color: rgb(178, 197, 249);
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}

#slogan {
  font-size: 30px;
  margin-bottom: 10px;
}

#footer-bar {
  display: flex;
  justify-content: space-between;
}

